<h1>Editing Project Alias for <%= @selected_project %></h1>

<%= error_messages_for @user_to_project_mapping %>

<br />
<%= form_for(@user_to_project_mapping) do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :event_guid %>
    <%= f.hidden_field :project_id %>


  <p>
    <b>Project alias</b><br />
    <%= f.text_field :project_alias, :autofocus => true %>
  </p>

   <% if FALSE %>
  <p>
    <b>Use this alias...</b>
    <%= select_tag "use_alias", options_for_select([[ "for all time entries.", 1], ["for only this one time entry.", 2]], 1) %>

  </p>
  <% end %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', :controller=>'calendar_imports', :action=>'index' %>
