<h1>Editing skipped_entry</h1>

<%= error_messages_for :skipped_entry %>

<% form_for(@skipped_entry) do |f| %>
  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b>Calendar</b><br />
    <%= f.text_field :calendar_id %>
  </p>

  <p>
    <b>Event guid</b><br />
    <%= f.text_field :event_guid %>
  </p>

  <p>
    <b>Start date</b><br />
    <%= f.text_field :start_date %>
  </p>

  <p>
    <b>End date</b><br />
    <%= f.text_field :end_date %>
  </p>

  <p>
    <b>Summary</b><br />
    <%= f.text_field :summary %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @skipped_entry %> |
<%= link_to 'Back', skipped_entries_path %>
