<% %>
<h1>Entry Error Details</h1>
<p>
  <b>Calendar:</b>
  <%=h UserCalendar.find(@event_to_issue_error.calendar_id).name %>
</p>

<p>
  <b>Date:</b>
  <%=h @event_to_issue_error.start_date.strftime('%m-%d-%Y %I:%M:%S %p %Z') %>
</p>

<p>
  <b>Project:</b>
  <%=h @event_to_issue_error.summary %>
</p>

<p>
  <b>Issue:</b>
  <%=h @event_to_issue_error.issue_id %>
</p>

<p>
  <b>Time Entries:</b>
  <%= @event_to_issue_error.description %>
</p>

<p>
  <b>Error:</b>
  <%=h @error_description %>
</p>

<div class="box">
    <h3>Options</h3>
    <% case @event_to_issue_error.error_id
       when 1%>
        <%= link_to 'Create a New Alias', new_user_to_project_mapping_path(:event_guid => @event_to_issue_error.event_guid, :summary => @event_to_issue_error.summary ) %>
    <% when 2 %>
        You will need to edit the entry on your calendar application.<br />
        <p>
        <b>Things to keep in mind:</b>
        <ul>
            <li>You may need to divide your issue id and comment by a space
                <ul>
                    <li><b>CORRECT:</b> #1234 comment goes here</li>
                    <li><b>WRONG:</b> #1234comment goes here</li>
                </ul>
            </li>
        </ul>
        </p>
        
    <% when 4 %>
        You should move all of the notes for this issue into the previous reference to this issue.<br />
        <p>
        <b>Things to keep in mind:</b>
        <ul>
            <li>You can only enter time once for the same issue id.</li>
            <li>You may have referenced the issue by ID in one row and then by Name in another.</li>
        </ul>
        </p>
    <% when 7  %>
        You will need to edit the entry on your calendar application.<br />
        Make sure it follows the structure #Title - Description<br />
        <p>
        <b>Things to keep in mind:</b>
        <ul>
            <li>Use a '-' to separate the Title and Description</li>
            <li>Title and Description are required.</li>
        </ul>
        </p>
    <% when 10 %>
        You will need to edit the entry on your calendar application.<br />
        Make sure it follows the structure #Title - Description<br />
        <p>
        <b>Things to keep in mind:</b>
        <ul>
            <li>Use a '-' to separate the Title and Description</li>
            <li>Title and Description are required.</li>
        </ul>
        </p>
    <% else %>
        You will need to edit the entry on your calendar application.
    <% end %>
</div>

<%= link_to 'Back', :controller=>'calendar_imports', :action=>'index' %>
