<h1>Edit Calendar Name</h1>

<%= error_messages_for @user_calendar %>

<%= form_for(@user_calendar) do |f| %>
  <%= f.hidden_field :user_id, :value => @user_calendar.user_id %>
  <p>
    <b>Calendar Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Ics file</b><br />
    <%= @user_calendar.ics_file %>
  </p>
  
  <p>
    <%= f.submit "Update"%>
  </p>
<% end %>

<%= link_to 'Show', show_user_calendar_path %> |
<%= link_to 'Back', calendar_import_path %>
