<h1>Editing user_calendar</h1>

<%= error_messages_for :user_calendar %>

<%= form_for(@user_calendar) do |f| %>
  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b>Ics file</b><br />
    <%= f.text_field :ics_file %>
  </p>

  <p>
    <b>HTTP User</b><br />
    <%= f.text_field :http_user %>
  </p>

  <p>
    <b>HTTP Password</b><br />
    <%= f.text_field :http_password %>
  </p>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user_calendar %> |
<%= link_to 'Back', user_calendars_path %>
