<h1>Listing user_calendars</h1>

<table>
  <tr>
    <th>User</th>
    <th>Ics file</th>
  </tr>

<% for user_calendar in @user_calendars %>
  <tr>
    <td><%=h user_calendar.user_id %></td>
    <td><%=h user_calendar.ics_file %></td>
    <td><%= link_to 'Show', :controller => "user_calendar", :id => user_calendar %></td>
    <td><%= link_to 'Edit', :controller => "user_calendar", :id => user_calendar, :method => :edit%></td>
    <td><%= link_to 'Destroy', :controller => "user_calendar", :id => user_calendar, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user_calendar', :controller => "user_calendars", :action => "new" %>
