<h2>Calendar Import</h2>

<div class="splitcontentleft">

    
    <% if @user != nil %>
        <div class="box">
        <h3>Calendars</h3>
        <%= render :partial=>"user_calendar_list", :locals => {:user_calendars => @user.user_calendars} %>
        <%= render :partial=>'new_user_calendar', :locals => {:user_calendar => UserCalendar.new()} %>
        </div>
    <% end %>

     <div class="box">
        <h3>Project Aliases</h3>
            <%= render :partial=>"user_to_project_mappings_list", :locals => { :user_to_project_mappings => @user.user_to_project_mappings} %>
        </div>

</div>

<div class="splitcontentright">

        <div class="box">
        <h3>Import Errors</h3>
            <%= render :partial=>"event_to_issue_errors_list", :locals => {:event_to_issue_errors => @user.event_to_issue_errors.find(:all, :conditions => ["start_date > ?", 2.months.ago ]), :error => @errors} %>
        </div>
        
        <%= render :partial=>"skipped_entries_list", :locals => {:skipped_entries=>@user.skipped_entries.find(:all, :conditions => ["start_date > ?", 2.months.ago ])} %>
</div>  
